@use 'variables' as var;

/***************** BOTONES *******************************************************************/

.botones {
    width: 100%;
    padding: 12px 10px; 
    background: var.$col-sec-oscuro;
    color: var.$col-ppal-claro;
    font-size: 1.1rem;
    font-weight: bold; 
    border: none;
    border-radius: 6px; 
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */

    &:hover {
        background: var.$col-sec-claro;
        transform: translateY(-1px); /* Levanta ligeramente el botón */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hover */
    }

    &:active {
        transform: translateY(1px);  /* Baja el botón 1px (como si se hundiera) */
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra casi plana */
    }

}