/* FONTS y CAJAS #################################################*/

@use 'variables' as var;
@use 'mixins' as *;

//clase abstracta
.letra {
    font-family: "Inter", sans-serif;
}

.letra-comun-right {
    @extend .letra;
    color: var.$col-letra;
    font-weight: bold;
    text-align: right;
    @include font-size(1.1);
}


.letra-comun-left {
    @extend .letra-comun-right;
    text-align: left;
}

.texto-destacado {
    @extend .letra;
    // Colores
    color: var.$col-sec-claro;
    background-color: var.$col-ppal-oscuro;
    // Texto
    font-weight: 800;
    text-shadow: 2px 3px 0 var.$col-sec-oscuro; // despx despy difunidao color 
    border-radius: 10px;
    text-align: center;
    // Caja
    margin: 20px auto; // lo separa de lo que tenga arriba
    padding: 10px 15px;
    max-width: 90%;
    box-shadow: 10px 10px 10px var.$col-sec-oscuro;
    @include font-size(1.2);

    &:hover {
        background-color: var.$col-ppal-fuerte;
        color: var.$col-sec-oscuro;
        text-shadow: 2px 3px 0 var.$col-sec-claro;
        //   padding: 22px 17px;
        @include font-size(1.3);
    }
}

.texto-ultra-destacado {   
    @extend .texto-destacado;
    margin: 0 auto 20px auto;
    padding-top:0;
    // Colores
    color: var.$col-sec-claro;
    background-color: var.$col-ppal;
    // Texto
    font-weight: 800;
    @include font-size(1.3);
}


.texto-ultra-destacado:hover {
    color: var.$col-sec-claro;
    background-color: var.$col-ppal-oscuro;
    text-shadow: 2px 3px 0 var.$col-ppal-fuerte;
    @include font-size(1.4);
}

.texto-footer {
    text-align: center;
    color: var.$col-ppal-claro;
    font-weight: bold;
    max-width: 1200px;  
    margin: 0 auto; 
    padding: 10px; 
    @include font-size(1.1);
}