@use 'variables' as var;

/* GENERAL #################################################*/
body {
    padding-top: 10px !important;
    background-color: var.$col-ppal-claro;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos el 100% del viewport */
    margin: 0;

    main {
        margin-top: 70px;
        padding: 0 15px;
        flex: 1; /* Hace que el contenido principal ocupe el espacio restante */

    }

    footer {
       // margin-top: 20px;
        flex-shrink: 0;
        padding: 10px;
        margin-top: auto; /* Fuerza al footer a quedarse abajo */
    }

}